$path-to-moo: $path-to-legacy-icons !default;
$path-to-flex: $path-to-legacy-icons !default;

$icon_arrow_down: "\e900";
$icon_arrow_left: "\e901";
$icon_arrow_right: "\e902";
$icon_branding: "\e903";
$icon_design: "\e904";
$icon_development: "\e905";
$icon_email: "\e906";
$icon_github: "\e907";
$icon_jsfiddle: "\e908";
$icon_linkedIn: "\e909";
$icon_phish: "\e90a";
$icon_resume: "\e90b";
$icon_soundcloud: "\e90c";
