// @font-face {
// 	font-family: 'SF Text';
// 	src: url('#{$path-to-legacy-fonts}/sf-ui-text-ultrathin-webfont.woff2') format('woff2'),
// 		 url('#{$path-to-legacy-fonts}/sf-ui-text-ultrathin-webfont.woff') format('woff'),
// 		 url('#{$path-to-legacy-fonts}/sf-ui-text-ultrathin-webfont.ttf') format('truetype'),
// 		 url('#{$path-to-legacy-fonts}/sf-ui-text-ultrathin-webfont.svg#sf_ui_textultrathin') format('svg');
// 	font-weight: 200;
// 	font-style: normal;
// }

@font-face {
	font-family: 'SF Text';
	src: url('#{$path-to-legacy-fonts}/sf-ui-text-ultrathinitalic-webfont.woff2') format('woff2'),
		 url('#{$path-to-legacy-fonts}/sf-ui-text-ultrathinitalic-webfont.woff') format('woff'),
		 url('#{$path-to-legacy-fonts}/sf-ui-text-ultrathinitalic-webfont.ttf') format('truetype'),
		 url('#{$path-to-legacy-fonts}/sf-ui-text-ultrathinitalic-webfont.svg#sf_ui_textultrathin_italic') format('svg');
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: 'SF Text';
	src: url('#{$path-to-legacy-fonts}/sf-ui-text-light-webfont.woff2') format('woff2'),
		 url('#{$path-to-legacy-fonts}/sf-ui-text-light-webfont.woff') format('woff'),
		 url('#{$path-to-legacy-fonts}/sf-ui-text-light-webfont.ttf') format('truetype'),
		 url('#{$path-to-legacy-fonts}/sf-ui-text-light-webfont.svg#sf_ui_textlight') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'SF Text';
	src: url('#{$path-to-legacy-fonts}/sf-ui-text-lightitalic-webfont.woff2') format('woff2'),
		 url('#{$path-to-legacy-fonts}/sf-ui-text-lightitalic-webfont.woff') format('woff'),
		 url('#{$path-to-legacy-fonts}/sf-ui-text-lightitalic-webfont.ttf') format('truetype'),
		 url('#{$path-to-legacy-fonts}/sf-ui-text-lightitalic-webfont.svg#sf_ui_textlight_italic') format('svg');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'SF Text';
	src: url('#{$path-to-legacy-fonts}/sf-ui-text-regular-webfont.woff2') format('woff2'),
		 url('#{$path-to-legacy-fonts}/sf-ui-text-regular-webfont.woff') format('woff'),
		 url('#{$path-to-legacy-fonts}/sf-ui-text-regular-webfont.ttf') format('truetype'),
		 url('#{$path-to-legacy-fonts}/sf-ui-text-regular-webfont.svg#sf_ui_textregular') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'SF Text';
	src: url('#{$path-to-legacy-fonts}/sf-ui-text-regularitalic-webfont.woff2') format('woff2'),
		 url('#{$path-to-legacy-fonts}/sf-ui-text-regularitalic-webfont.woff') format('woff'),
		 url('#{$path-to-legacy-fonts}/sf-ui-text-regularitalic-webfont.ttf') format('truetype'),
		 url('#{$path-to-legacy-fonts}/sf-ui-text-regularitalic-webfont.svg#sf_ui_textitalic') format('svg');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'SF Text';
	src: url('#{$path-to-legacy-fonts}/sf-ui-text-medium-webfont.woff2') format('woff2'),
		 url('#{$path-to-legacy-fonts}/sf-ui-text-medium-webfont.woff') format('woff'),
		 url('#{$path-to-legacy-fonts}/sf-ui-text-medium-webfont.ttf') format('truetype'),
		 url('#{$path-to-legacy-fonts}/sf-ui-text-medium-webfont.svg#sf_ui_textmedium') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'SF Text';
	src: url('#{$path-to-legacy-fonts}/sf-ui-text-mediumitalic-webfont.woff2') format('woff2'),
		 url('#{$path-to-legacy-fonts}/sf-ui-text-mediumitalic-webfont.woff') format('woff'),
		 url('#{$path-to-legacy-fonts}/sf-ui-text-mediumitalic-webfont.ttf') format('truetype'),
		 url('#{$path-to-legacy-fonts}/sf-ui-text-mediumitalic-webfont.svg#sf_ui_textmedium_italic') format('svg');
	font-weight: 500;
	font-style: italic;
}

// @font-face {
// 	font-family: 'SF Text';
// 	src: url('#{$path-to-legacy-fonts}/sf-ui-text-semibold-webfont.woff2') format('woff2'),
// 		 url('#{$path-to-legacy-fonts}/sf-ui-text-semibold-webfont.woff') format('woff'),
// 		 url('#{$path-to-legacy-fonts}/sf-ui-text-semibold-webfont.ttf') format('truetype'),
// 		 url('#{$path-to-legacy-fonts}/sf-ui-text-semibold-webfont.svg#sf_ui_textsemibold') format('svg');
// 	font-weight: 600;
// 	font-style: normal;
// }

// @font-face {
// 	font-family: 'SF Text';
// 	src: url('#{$path-to-legacy-fonts}/sf-ui-text-semibolditalic-webfont.woff2') format('woff2'),
// 		 url('#{$path-to-legacy-fonts}/sf-ui-text-semibolditalic-webfont.woff') format('woff'),
// 		 url('#{$path-to-legacy-fonts}/sf-ui-text-semibolditalic-webfont.ttf') format('truetype'),
// 		 url('#{$path-to-legacy-fonts}/sf-ui-text-semibolditalic-webfont.svg#sf_ui_textsemibold_italic') format('svg');
// 	font-weight: 600;
// 	font-style: italic;
// }

@font-face {
	font-family: 'SF Text';
	src: url('#{$path-to-legacy-fonts}/sf-ui-text-bold-webfont.woff2') format('woff2'),
		 url('#{$path-to-legacy-fonts}/sf-ui-text-bold-webfont.woff') format('woff'),
		 url('#{$path-to-legacy-fonts}/sf-ui-text-bold-webfont.ttf') format('truetype'),
		 url('#{$path-to-legacy-fonts}/sf-ui-text-bold-webfont.svg#sf_ui_textbold') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'SF Text';
	src: url('#{$path-to-legacy-fonts}/sf-ui-text-bolditalic-webfont.woff2') format('woff2'),
		 url('#{$path-to-legacy-fonts}/sf-ui-text-bolditalic-webfont.woff') format('woff'),
		 url('#{$path-to-legacy-fonts}/sf-ui-text-bolditalic-webfont.ttf') format('truetype'),
		 url('#{$path-to-legacy-fonts}/sf-ui-text-bolditalic-webfont.svg#sf_ui_textbold_italic') format('svg');
	font-weight: 700;
	font-style: italic;
}

// @font-face {
// 	font-family: 'SF Text';
// 	src: url('#{$path-to-legacy-fonts}/sf-ui-text-heavy-webfont.woff2') format('woff2'),
// 		 url('#{$path-to-legacy-fonts}/sf-ui-text-heavy-webfont.woff') format('woff'),
// 		 url('#{$path-to-legacy-fonts}/sf-ui-text-heavy-webfont.ttf') format('truetype'),
// 		 url('#{$path-to-legacy-fonts}/sf-ui-text-heavy-webfont.svg#sf_ui_textheavy') format('svg');
// 	font-weight: 800;
// 	font-style: normal;
// }

// @font-face {
// 	font-family: 'SF Text';
// 	src: url('#{$path-to-legacy-fonts}/sf-ui-text-heavyitalic-webfont.woff2') format('woff2'),
// 		 url('#{$path-to-legacy-fonts}/sf-ui-text-heavyitalic-webfont.woff') format('woff'),
// 		 url('#{$path-to-legacy-fonts}/sf-ui-text-heavyitalic-webfont.ttf') format('truetype'),
// 		 url('#{$path-to-legacy-fonts}/sf-ui-text-heavyitalic-webfont.svg#sf_ui_textheavy_italic') format('svg');
// 	font-weight: 800;
// 	font-style: italic;
// }
