@font-face {
	font-family: 'SF Compact Text';
	src: url('#{$path-to-fonts}/SFCompactText-Light.eot');
	src: url('#{$path-to-fonts}/SFCompactText-Light.eot?#iefix') format('embedded-opentype'),
			 url('#{$path-to-fonts}/SFCompactText-Light.woff2') format('woff2'),
			 url('#{$path-to-fonts}/SFCompactText-Light.woff') format('woff'),
			 url('#{$path-to-fonts}/SFCompactText-Light.ttf') format('truetype'),
			 url('#{$path-to-fonts}/SFCompactText-Light.svg#SFCompactText-Light') format('svg');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'SF Compact Text';
	src: url('#{$path-to-fonts}/SFCompactText-LightItalic.eot');
	src: url('#{$path-to-fonts}/SFCompactText-LightItalic.eot?#iefix') format('embedded-opentype'),
			 url('#{$path-to-fonts}/SFCompactText-LightItalic.woff2') format('woff2'),
			 url('#{$path-to-fonts}/SFCompactText-LightItalic.woff') format('woff'),
			 url('#{$path-to-fonts}/SFCompactText-LightItalic.ttf') format('truetype'),
			 url('#{$path-to-fonts}/SFCompactText-LightItalic.svg#SFCompactText-LightItalic') format('svg');
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: 'SF Compact Text';
	src: url('#{$path-to-fonts}/SFCompactText-MediumItalic.eot');
	src: url('#{$path-to-fonts}/SFCompactText-MediumItalic.eot?#iefix') format('embedded-opentype'),
			 url('#{$path-to-fonts}/SFCompactText-MediumItalic.woff2') format('woff2'),
			 url('#{$path-to-fonts}/SFCompactText-MediumItalic.woff') format('woff'),
			 url('#{$path-to-fonts}/SFCompactText-MediumItalic.ttf') format('truetype'),
			 url('#{$path-to-fonts}/SFCompactText-MediumItalic.svg#SFCompactText-MediumItalic') format('svg');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'SF Compact Text';
	src: url('#{$path-to-fonts}/SFCompactText-Medium.eot');
	src: url('#{$path-to-fonts}/SFCompactText-Medium.eot?#iefix') format('embedded-opentype'),
			 url('#{$path-to-fonts}/SFCompactText-Medium.woff2') format('woff2'),
			 url('#{$path-to-fonts}/SFCompactText-Medium.woff') format('woff'),
			 url('#{$path-to-fonts}/SFCompactText-Medium.ttf') format('truetype'),
			 url('#{$path-to-fonts}/SFCompactText-Medium.svg#SFCompactText-Medium') format('svg');
	font-weight: 500;
	font-style: normal;
}
