$white: #ffffff;
$black: #000000;
$darkest: #212121;

$whiteGray: #F0F0F0;
$lightGray: #E9E9E9;
$mediumGray: #979797;
$darkGray: #494949;
$purple: #2A379B;
$green: #1A9A65;
$greenHover: #0DAB7F;
$orange: #E8A841;

$blueGray: #F5F7F9;

$sourceSerif: 'Source Serif Pro', Helvetica, Helvetica Neue, Arial, sans-serif;
$avenir: 'Avenir', Helvetica, Helvetica Neue, Arial, sans-serif;
